.series {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #f8f7fc, #f0f0f0);
  margin-bottom: 6rem;

  &__description {
    width: 26%;
    margin-right: 12rem;

    @media screen and (max-width: 84.375em) {
      width: 36%;
      margin-right: 6rem;
    }
  }

  &__heading {
    color: var(--color-primary-dark-1);
  }

  &__text {
    font-size: 2.1rem;
    line-height: 1.7;
    color: #8ea2dc;
    margin-bottom: 4.5rem;
  }

  &__btn {
    width: 21rem;
    display: block;
  }

  &__image {
    transform: translateY(-7rem);
  }
}
