@keyframes endLeft {
  0% {
    transform: translateX(225%);
  }

  50% {
    transform: translateX(235%);
  }

  100% {
    transform: translateX(225%);
  }
}

@keyframes endRight {
  0% {
    transform: translateX(-225%);
  }

  50% {
    transform: translateX(-235%);
  }

  100% {
    transform: translateX(-225%);
  }
}

@keyframes navIn {
  0% {
    transform: translate(-218%, -50%);
  }

  100% {
    transform: translate(70%, -50%);
  }
}