.classes {
  position: relative;
  box-shadow: 0 2px 2px rgba(#000000, 0.2);

  &::before {
    content: "";
    background-image: url(../img/classes-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }

  &__cards {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      padding-bottom: 12rem;
  }
}

.cards {
  &__item {
    width: 23%;
    margin: 0 1.5rem;
    transition: transform 0.2s;
    flex-shrink: 0;
    transform: translateX(225%);
  }
}

.card {
  &__img {
    width: 100%;
    margin-bottom: 3rem;
  }

  &__heading {
    height: 4.6rem;
    font-size: 1.8rem;
    font-family: $font-headings;
    font-weight: 500;
    line-height: 1.33;
    color: var(--color-primary-dark-1);
    margin-bottom: 1.6rem;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    display: inline;
    margin-right: 1.2rem;
    fill: var(--color-primary-dark-1);
  }

  &__text--information {
    font-size: 1.3rem;
    color: #999999;
  }

  &__level {
    margin-bottom: 2.5rem;
  }
}

.slider__btn {
  font-size: 2.5rem;
  border: none;
  color: var(--color-primary-dark-1);
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.2s, color 0.2s;
  outline: none;

  &:hover,
  &:active {
    color: var(--color-primary-dark-2);
    transform: scale(1.05);
  }
  

  &--left {
    position: absolute;
    top: 40%;
    left: 10%;
  }

  &--right {
    position: absolute;
    top: 40%;
    right: 10%;
  }
}

.endleft {
  animation: endLeft .5s ease-in-out;
}

.endright {
  animation: endRight .5s ease-in-out;
}