.subscribe__wrapper {
  background-color: #181818;
}

.info__wrapper {
  background-color: #222222;
}

.footer {
  &__subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    padding-top: 6rem;
    padding-bottom: 4.5rem;
    justify-content: space-between;
   
  }

  &__text {
    font-size: 1.3rem;
    color:  var(--color-text-footer);
  }

  &__contact {
    width: 17%;
  }
}

.subscribe {
  &__calltoaction {
    border-left: 1px solid #bbbbbb;
    align-self: stretch;
    padding-left: 5rem;
  }

  &__heading {
    font-family: $font-headings;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 3.7rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-style: italic;
    padding-bottom: 3.2rem;
  }
  
}

.form__btn {
    border-radius: 2rem;
    background-color: var(--color-primary-dark-2);
    color: #ffffff;
    text-align: center;
    font-family: $font-headings;
    font-size: 1.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 1.2rem 0;
    transition: transform .4s;
    outline: none;
    width: 14rem;
    border: none;
    cursor: pointer;
    height: 5rem;
    z-index: 10;
    transform: translateX(-3.5rem);
    

    &:hover {
      transform: translateX(-3.5rem) scale(1.05);
    }

    &:active {
      transform: translateX(-3.5rem) translateY(2px);
    }
}

.form__input {
  height: 5rem;
  width: 35.5rem;
  background-color: #333333;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding-left: 2rem;
  transform: translateX(3.5rem);
}

.contact {
  &__adress {
    line-height: 1.8;
  }

  &__email {
    line-height: 2.75;
  }

  &__links {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.link__icons {
  width: 4rem;
  height: 4rem;
}

.item--link {
  padding-bottom: 2px;
  transition: color .3s,  border-bottom .3s;

  &:hover {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
  }
}

.open {
  &__box{
    display: flex;
  }
  
  &__symbol {
    margin: 0 5rem;
  }
}

#map {
  width: 270px;
  height: 170px;
  border-radius: 10px;
}