.header {
  background-image: url(../img/header-back.png);
  height: 100vh;
  background-size: cover;
  position: relative;

  &__menu {
    margin: 0 auto;
    padding-top: 3.3rem;
    display: flex;
    align-items: center;
    max-width: 140rem;
  }

  &__logo {
    margin-right: auto;
    margin-left: 2rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
  }

  &__action:link,
  &__action:visited {
    margin-right: 2rem;
    width: 19.8rem;
  }

  &__tagline {
    font-family: $font-headings;
    font-size: 7.2rem;
    font-weight: 300;
    color: var(--color-primary-dark-2);
    line-height: 10rem;
    width: 40rem;
    position: absolute;
    top: 25rem;
    right: 35rem;
  }
}

.nav__item {
  padding: 0 1.5rem;

  &--link:link,
  &--link:visited {
    color: var(--color-primary-light);
    transition: color .2s;
    font-family: $font-headings;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &--link:hover {
    color: var(--color-primary-dark-2);
  }
}