.heading {
  &--secondary {
    font-family: $font-headings;
    font-size: 4.8rem;
    font-weight: 300;
    color: var(--color-primary-light);
  }

  &--tertiary {
    font-family: $font-headings;
    font-size: 3.2rem;
    font-weight: 300;
    text-align: center;
  }
}

.footer__heading {
  font-family: $font-headings;
  line-height: 3;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.4rem;
}