// FONTS VARIABLES
$font-headings: 'Poppins', sans-serif;
$font-text: 'Lato', sans-serif;

//COLORS
:root {
  --color-primary-dark-1: #7492ec;
  --color-primary-dark-2: #4c77eb;
  --color-primary-light: #99aade;
  --color-text: #666666;
  --color-text-footer: #bbbbbb;
}

// BREAKPOINTS
$bp-largest: 110em; // 1750px
